{% extends 'base.html' %}
{% load static %}
{% block title %}
Sign in
{% endblock title %}


{% block body %}

{% load static %}
<body>
  <!-- Login Section -->
  <section id="login" class="login section dark-background">

    <img src="{% static 'assets/img/agri_news.jpg' %}" alt="" data-aos="fade-in">

    <div class="container position-absolute top-50 start-50 translate-middle">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-8 col-10">      
          <h3 class="text-center mb-3 text-white">🌿 Login</h3>
          <!-- Alert Messages -->
          {% if messages %}
          <div class="container">
            {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close custom-close" data-bs-dismiss="alert" aria-label="Close">
                  &times;
                </button>                
              </div>
            {% endfor %}
          </div>
          {% endif %}
          <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            
            <div class="mb-3">
              <label for="email" class="form-label text-white">Email</label>
              <input type="email" class="form-control" id="email" name="email" required>
            </div>
            
            <div class="mb-3">
              <label for="password" class="form-label text-white">Password</label>
              <input type="password" class="form-control" id="password" name="password" required>
            </div>
            
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="rememberMe">
              <label class="form-check-label text-white small" for="rememberMe">Remember Me</label>
            </div>

            <button type="submit" class="btn w-100">Login</button>

            <div class="text-center mt-3">
              <p class="small text-white">Don't have an account? <a href="{% url 'signup' %}" class="text-light">Sign Up</a></p>
              <p class="small"><a href="{% url 'forgot_password' %}" class="text-light">Forgot Password?</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>

  </section><!-- /Login Section -->
</body>


{% endblock body %} 

  